{% block element_product_slider_hero %}
    {% set sliderConfig = element.fieldConfig.elements %}
    {% set visibleValues = ['inside', 'outside'] %}
    {% set blockId = block.id %}

    {% if element.data.products.elements %}
        <div class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == "standard" and sliderConfig.verticalAlign.value %} has-vertical-alignment{% endif %} col-12">
            {% set baseSliderOptions = {
                slider: {
                    controls: sliderConfig.navigationArrows.value in visibleValues,
                    dots: true,
                    navPosition: 'bottom',
                    mouseDrag: true,
                    autoplay: sliderConfig.rotate.value,
                    autoplayButtonOutput: false,
                    autoplayTimeout: sliderConfig.autoplayTimeout.value,
                    speed: sliderConfig.speed.value,
                    ariaLive: sliderConfig.rotate.value ? false : true,
                    autoHeight: (sliderConfig.displayMode.value == "standard") ? true : false
                }
            } %}

            {% block element_product_slider_alignment %}
                {% if config.verticalAlign.value %}
                    <div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == "center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                {% endif %}
                    <div
                        class="product-slider{% if sliderConfig.border.value %} has-border{% endif %}{% if sliderConfig.navigationArrows.value == "outside" %} has-nav-outside{% endif %}"
                        data-base-slider="true"
                        data-base-slider-options='{{ baseSliderOptions|json_encode }}'
                        role="region"
                        aria-label="{{ 'component.cms.productGallery.ariaLabel'|trans({ '%total%': element.data.products.elements|length })|sw_sanitize }}"
                        tabindex="0"
                    >

                        {% block element_product_slider_skip_slider %}
                            {% sw_include '@Storefront/storefront/component/skip-target.html.twig' with {
                                targetId: blockId,
                                snippet: 'component.cms.productGallery.skipProductGallery',
                            } %}
                        {% endblock %}

                       

                        {% block element_product_slider_inner %}
                            <div class="product-slider-container"
                                 data-base-slider-container="true">
                                {% for product in element.data.products.elements %}
                                    {% set productElement %}
                                        <div class="product-slider-item{% if loop.first != true %} is-not-first{% endif %} is-{{ sliderConfig.displayMode.value }}">
                                            {% sw_include '@Storefront/storefront/component/product/card/box-hero.html.twig' with {
                                                'product': product,
                                                'layout': 'hero',
                                                'displayMode': sliderConfig.displayMode.value
                                            } %}
                                        </div>
                                    {% endset %}

                                    {% block element_product_slider_inner_item %}
                                        <div class="product-slider-item-container">
                                            {{ productElement }}
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>

                            {% block element_product_slider_controls %}
                                {% if sliderConfig.navigationArrows.value !== 'none' %}
                                    <div class="product-slider-controls-container">
                                        <div class="base-slider-controls"
                                            data-base-slider-controls="true">
                                            {% block element_product_slider_controls_items %}
                                                {% block element_product_slider_controls_items_arrows %}
                                                    <button
                                                        class="base-slider-controls-prev product-slider-controls-prev{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-prev-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-prev-inside{% endif %}"
                                                        aria-label="{{ 'general.previous'|trans|striptags }}"
                                                    >
                                                        {% block element_product_slider_controls_items_prev_icon %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="5 7 15 10" fill="none" stroke="#c52b3f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor:pointer;/* border-radius:50%; *//* background:#fff; */">
                                                                <polyline points="14 6 8 12 14 18"></polyline>
                                                            </svg>
                                                        {% endblock %}
                                                    </button>
                                                    <button
                                                        class="base-slider-controls-next product-slider-controls-next{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-next-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-next-inside{% endif %}"
                                                        aria-label="{{ 'general.next'|trans|striptags }}"
                                                    >
                                                        {% block element_product_slider_controls_items_next_icon %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="5 7 15 10" fill="none" stroke="#c52b3f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor:pointer;/* border-radius:50%; *//* background:#fff; */">
                                                                <polyline points="10 6 16 12 10 18"/>
                                                            </svg>
                                                        {% endblock %}
                                                    </button>
                                                {% endblock %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% if config.verticalAlign.value %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}

    {% block element_product_slider_target_after_slider %}
        <div id="content-after-target-{{ blockId }}"></div>
    {% endblock %}
{% endblock %}

